@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* First section  */
.container{
    background-color: black;
    width: 1321px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    
}
.top{
    font-size: 70px;
    line-height: 80px;
    width: 531px;
    height: 240px;
    margin-left: 246px;
    margin-top: 161px;
    color: goldenrod        
}
.top-2{
    font-size: 16px;
    width: 506px;
    height: 78px;
    margin-left: 246px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: goldenrod
    
}
.button{
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    padding: 16px 25px;
    gap: 10px;
    color: ghostwhite;
    width: 187px; 
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-left: 246px;
    
}
.banner-img{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 550px;
    margin-top: 96px;
}
/* 2nd section  */
.blog{
    padding: 130px 0px;
    display: flex;      
}
.blog-container{
    width: 1321px;
    margin: 0 auto;
    display: flex;

}
.sides{
    background-color: black;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
    margin-right: 24px;
    width: 312px;
    height: 312px;
    font-size: 20px;
    border-radius: 10px;

}
.sides>a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.left1{
    background-color:white;
    color: black;
    text-align: center;
    width: 252px;
    height: 64px;
    padding: 0;
    margin: 20px;
    border-radius: 10px;
    
}
.left2{
    background-color: white;
    color: black;
    text-align: center;
    width: 252px;
    height: 64px;
    padding: 0;
    margin: 20px;
    border-radius: 10px;

}
.left3{
    background-color: red;
    color: white;
    text-align: center;
    width: 252px;
    height: 64px;
    padding:0;
    margin: 20px;
    border-radius: 10px;

}
.second{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 24px;   
}
.elements{
    width: 312px;
    padding: 0;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px 10px 0px 0px;  
}
.button2{
    width: 100px;
    height: 32px;
    margin-left: 4px;

}
#time{
    width: 143px;
    height: 26px;
    margin-right: 5px;
    margin-left: 5px;

}
#comments{
    width: 143px;
    height: 26px;
    margin-right: 5px;
}

/* footer section  */
.footer{
    background-color: black;
    color: white;
    width: 1600px;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer a{
    text-decoration: none;
    color: wheat;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    
}
.goal{
    font-size: 40px;
    font-weight: 600;
}
hr{
    color: gray;
    width: 80%;
    margin: 50px;
    opacity: .3;
}
.down{
    display: flex;
    size: 16px;
    font-weight: 500;
    justify-content: space-evenly;
    gap: 50px;
}
/* schedule section  */

.flag{
    text-align: center;
   
    margin: 0 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr); 
    
}
.card-container{
    border: 1px solid #E8E8E8; 
    width: 312px;
    height: 242px;
    text-align: center;
}
    
@media screen and (max-width) {
    
}
    



